@import "./styles/Login.css";
@import "./styles/Signup.css";
@import "./styles/Group.css";
@import "./styles/TrendingTopics.css";
@import "./styles/FeaturedPost.css";
@import "./styles/Lobby.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
